

<ion-content>
  <div class="bg">
    <div class="logo">
      <ion-img src="../../../assets/img/logo.png"></ion-img>
    </div>
    <ion-button routerLink="/login" fill="solid" color="success" class="ion-margin-top">
      INICIAR sesion
    </ion-button>
    <!-- <h1 color="light">Panadería San José</h1> -->
  </div>

  <ion-text class="ion-margin" align="center">
    <h1>¿Quienes Somos?</h1>
  </ion-text>
  <hr>
  <ion-text class="ion-margin ion-padding" align="center">
    <p >
      Somos una empresa originaria de Villa Hidalgo, Nayarit. Dedicada desde 1960 a fabricar pan y bolillo diaramente para distribuirlo en distintos puntos de venta de la localidad.
    </p>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="3" sizeXs="12">
        <img src="../../../assets/img/polveado.jpg" alt="">
      </ion-col>
      <ion-col sizeMd="3" sizeXs="12">
        <img src="../../../assets/img/galletas.jpg" alt="">
      </ion-col>
      <ion-col sizeMd="3" sizeXs="12">
        <img src="../../../assets/img/conchas.jpg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bg-2"></div>
  <ion-text>
    <h2>Nuestra misión</h2>
    <p>
      Nuestra misión es elaborar y ofrecer nuestros productos de panadería variados, que satisfagan las necesidades de nuestros clientes y consumidores, con un sabor casero, de alta calidad y a precios competitivos.
    </p>
  </ion-text>
  <hr>
  <ion-text>
    <h2>Nuestra visión</h2>
    <p>
      Consolidarnos en la región y ser reconocidos por elaborar productos de alta calidad y precios competitivos, logrando estar presente en el gusto del consumidor, compitiendo exitosamente, logrando tener un bienestar para sus inversionistas y trabajadores.
    </p>
  </ion-text>
  <div id="map" style="width: 100%; height: 200px;"></div>

  


  <!-- <iframe src ="http://panaderia-web.herokuapp.com/home" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe> -->
</ion-content>
