.flex {
    width: 100%;
    justify-content: center;
    display: flex;
}
.logo-img {
    width: 15rem;
}

.label, p {
    color: #707070;
}


.container {
    padding: 1rem;
}


@media (min-width: 768px) {
    .container {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}