<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-buttons slot="end" >
        <ion-button fill="outline" mode="ios" routerLink="/teclado">     
          X   
          {{cantidad}}      
        </ion-button>
      </ion-buttons>
  
      <ion-title class="ion-text-capitalize">Menú</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-button (click)="add()" expand="block" fill="clear" shape="round">
        Click me
    </ion-button>
</ion-content>
