.flex {
    width: 100%;
    justify-content: center;
    display: flex;
}

.flex-content {
    justify-content: center;
}

.text{
    height: 10vh;
}

.top-20 {
    margin-top: 20px;
}

.botones {
    height: 40vh;
    padding: 0;
}