<app-header title="Datos de envío" back="/carrito"></app-header>

<ion-content >

    <ion-list>
        <ion-radio-group ngModel="radioOpt" (ionChange)="changeOpt($event)" >
            
            <ion-card *ngFor="let d of domicilios">
                <ion-item>
                    <ion-radio slot="start" [value]="d._id"></ion-radio>
                    <ion-label>{{d.street}} {{d.number}}</ion-label>
                </ion-item>
            </ion-card>

        </ion-radio-group>
    </ion-list>

    <div class="ion-padding">
        <ion-button class="border" routerLink="/domicilio-nuevo" expand="block" color="success" fill="outline" shape="round">
            Agregar nueva dirección
        </ion-button>
    </div>
    
    
</ion-content>




<ion-footer >

    <ion-button expand="full" color="success" [disabled]="!radioOpt" (click)="next()">
      Pagar
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
</ion-footer>