.v-web {
    max-width: 400px;
    margin: 0 auto;
}

ion-text {
    justify-content: center;
    text-align: center;
    color: #2DD36F;
}

p {
    padding: 1rem;
}
// p {
//     margin-top: 20px;
//     // color: #757575;
//     text-align: center;
//     font-size: small;
// }